.oxigenio, .enxofre, .selenio, .telurio, .polonio {

  display: none;
  
                                                   }

button {
  
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  
        }
